/*
colors used:
cream: #e0cfc2
white: #f6f4f2
pale orange: #dda882
blue: #4b5668
black: #191819

font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
*/
:root{
--lightaccent: #e0cfc2;
--light: #f6f4f2;
--accent: #dda882;
--darkaccent: #4b5668;
--dark: #191819;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%
}

body {
  background-color: var(--light);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--dark);
}

h1, h2, h3, h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 1.6;
  color: var(--darkaccent);
}

h1 {
  font-size: 2.0em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

a {
  color: #dda882;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline;
}

a:focus {
  color: var(--accent);
  text-decoration: underline;
}

a:visited {
  color: var(--darkaccent);
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(light) !important;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button-contact {
  background color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid var(--accent);
}

.button-contact:hover {
  background-color: var(--accent);
  color: var(--darkaccent) !important;
  text-decoration: none;
}

.button-contact:focus {
  background-color: var(--accent);
  color: var(--darkaccent);
}

.button-resume {
  background-color: var(--darkaccent);
  color: var(--light) !important;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
}

.button-resume:hover {
  opacity: 0.8;
  text-decoration: none;
}
}

.button-resume:focus {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

header {
  background-color: var(--darkaccent);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: var(--light) !important;
  font-size: .75em;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

nav>ul>li>a:focus {
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: var(--accent);
  text-decoration: none;
}

.logo {
  max-width: 250px;
}

main {
  padding-top: 160px;
  padding-bottom: 50px;
  background-color: var(--lightaccent);
  width: 100%;
}

svg {
  width: 20%;
  height: auto;
  display: inline-block;
  padding: 10px;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

#cover {
  padding-top: 30px;
}

#contactbutton {
  padding-bottom: 20px;
}

#tattoodologo {
  width: 50%;
  float: left;
}
