/*
colors used:
cream: #e0cfc2
white: #f6f4f2
pale orange: #dda882
blue: #4b5668
black: #191819

font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
*/
:root {
  --lightaccent: #e0cfc2;
  --light: #f6f4f2;
  --accent: #dda882;
  --darkaccent: #4b5668;
  --dark: #191819;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%
}

body {
  background-color: var(--light);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--dark);
}

h1, h2, h3, h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 1.6;
  color: var(--darkaccent);
}

h1 {
  font-size: 2.0em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

a {
  color: #dda882;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline;
}

a:focus {
  color: var(--accent);
  text-decoration: underline;
}

a:visited {
  color: var(--darkaccent);
  text-decoration: underline;
}

.row {
  margin: 50px 0 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(light) !important;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
  transition: .2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button-contact {
  background color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid var(--accent);
  transition-duration: .2s;
  transition-property: background-color;
}

.button-contact:hover {
  background-color: var(--accent);
  color: var(--darkaccent) !important;
  text-decoration: none;
}

.button-contact:focus {
  background-color: var(--accent);
  color: var(--darkaccent);
}

.button-resume {
  background-color: var(--darkaccent);
  color: var(--light) !important;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 4px;
  transition: .2s opacity;
}

.button-resume:hover {
  opacity: 0.8;
  text-decoration: none;
}
}

.button-resume:focus {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

header {
  background-color: var(--darkaccent);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: var(--light) !important;
  font-size: 1.0em;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

nav>ul>li>a:focus {
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: var(--accent);
  text-decoration: none;
}

.logo {
  max-width: 250px;
}

main {
  padding-top: 160px;
  padding-bottom: 50px;
  background-color: var(--lightaccent);
  width: 100%;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#contact svg {
  width: 20%;
  height: auto;
  display: inline-block;
  padding: 10px;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

#cover {
  padding-top: 30px;
}

#contactbutton {
  padding-bottom: 20px;
}

#tattoodologo {
  width: 50%;
  float: left;
}

/* medium devices */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 15px;
  }

  main {
    padding-top: 130px;
  }

  [class*="col-"] {
    float: left;
    padding-right: 10px;
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

    h3 {
    margin-top: 0;
  }

  #projects .row {
    margin-bottom: 100px;
  }

  #skilltool .row {
    margin-top: 18px;
    width: 100%;
  }
  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }
}

  /* large devices */
  @media only screen and (min-width: 1024px) {

    body {
      font-size: 20px;
    }

    [class*="col-"] {
      float: left;
      padding-right: 10px;
      width: 100%;
    }

    .col-lg-7 {
      width: 58.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-4 {
      width: 33.33%;
    }

    #skills, #tools {
      float: none;
      width: 100%;
    }

    #skilltool h2, #skills, #tools {
      padding-left: 50px;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* animation */
  @keyframes color-change {
    0% {
      fill: #edc655;
    }

    50% {
      fill: #fcffad;
    }

    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
